{% extends "menu.html" %}
<head>
    <title>{% block Title %}games{% endblock %}</title>
</head>
<body>
    {% block pagename %}
    <h1>Игры</h1>
    {% endblock %}

    {% block menu %}
    {{ block.super }}
    {% endblock %}

    {% block content %}
    <ul>
        {% for game in games %}
        <li>{{ game.title }} | {{ game.description}} Стоимость: {{ game.cost }} <button>Купить</button></li>
        {% endfor %}
    </ul>
    <form action="{% url 'main_page' %}">
        <button type="submit">Вернутья обратно</button>
    </form>
    {% endblock %}


</body>